.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}


/* Todo List */

.todo-app-container{
  display: flex;

  justify-content: center;
  top:50%;
  transform:translateY(50px);
  width: 600px;
  margin:0 auto;

  /* position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
}

.todo-app{
  width: 600px;
  background-color: #61dafb;
  padding:20px;
  border-radius: 10px;
}

.todo-item-list{

  padding:0;
  margin:0;

}

.todo-item-list .todo-item-container{

  list-style: none;
  display: flex;
  width: 100%;
  padding: 10px 0;
  justify-content: space-between;

}

.todo-item-list .todo-item-container .todo-item{
  width: 200px;
}

button{
  background: none;
  border:1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.delete-icon{
  width: 20px;

}

.line-through{
  text-decoration: line-through;
}

.check-all-container, .other-buttons-container{
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 0;
}


.button{
  border:1px solid #fff;
  border-radius: 3px;
  padding:3px 10px;
  cursor: pointer;
}

.filter-button{
  margin-right:5px;
}

.filter-button-active{
  background:yellow;
}

.todo-input{
  width: 100%;
  padding:10px;
}

.toggles-container{
  display: flex;
}

/*** Margin **/
.mb-5{
  margin-bottom:5px;
}